*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
button, input{
    outline: none;
    background-color: inherit;
    border: none;
    color: black;
}
button{
    cursor: pointer;
}
li{
    list-style-type: none;
}
.main-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.section-info{
    width: 38%;
}
.section-cards{
    margin-left: 6%;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: rgb(185, 0, 185);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.section-cards > .country{
    background: radial-gradient(67.44% 67.44% at 28.89% 32.56%, #BE71F0 0%, #9B38DC 100%);
}
.section-card + .shop{
    background: radial-gradient(38.37% 38.37% at 86.68% 61.63%, #BE71F0 0%, #9B38DC 100%);
}
.section-card + .product{
    background: radial-gradient(95.16% 95.16% at 90.45% 4.84%, #BE71F0 0%, #9B38DC 100%);

}
.section-card > h2{
    font-size: 3.5em;
    margin-top: .3em;
}
.section-title > span{
    color: rgb(185, 0, 185);
}
.section-description{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 17px;
    line-height: 1.6;
}
.section-list{
    margin-left: 18px;
}
.section-list > li{
    position: relative;
    font-size: 17px;
    line-height: 1.6;
}
.section-list > li::before{
    position: absolute;
    left: -18px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(185, 0, 185);
}
.offers, .popular-brends{
    width: 90%;
    margin: 30px auto;
}
.offers-list{
    padding-bottom: 10px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    margin: 1em 0 1.5em 0;
}
.offers-list > li{
    margin-right: 30px;
}
.offers-list > li > button{
    font-weight: 400;
    color: #C4C4C4;
    font-size: 15px;
}
.offers-list > .active{
    position: relative;
}
.offers-list > .active > button{
    font-weight: 600;
    color: black;
}
.offers-list > li.active::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    bottom: -11px;
    border-bottom: 2px solid rgb(185, 0, 185);
    width: 100%;
}
.offers__slider-item{
    position: relative;
}
.offers__slider-item > img{
    height: 200px;
}
.offers__slider-item > .specifications-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3px 0;
}
.offers-specifications{
    font-size: 0.8em;
    font-weight: 500;
    color: #8D8D8D;
}
.offers__slider-item > .specifications-wrapper:nth-of-type(odd){
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}
.offers__slider-item > .specifications-wrapper:first-of-type{
    border-top: none;
}
.offers__slider-item > .offers__wrapper-price{
    margin-top: .8em;
}
.offers__wrapper-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.offers__wrapper-price .description{
    font-size: 0.75em;
    color: #8D8D8D;
}
.offers__wrapper-price .price{
    font-size: 1.4em;
}
.offers-title{
    font-size: 0.88em;
    margin-bottom: .8em;
    line-height: 1.3;
    font-weight: 500;
}
.orffers-type{
    font-size: 0.9em;
    margin-bottom: .4em;
    color: rgba(0, 0, 0, 0.5);
}
.offers-slider .new::before{
    position: absolute;
    content: 'Новинка';
    left: 0;
    top: 0;
    padding: 5px 9px;
    background-color: green;
    border-radius: 4px;
    color: white;
    font-size: .8em;
}
.offers__slider-favorite{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.offers__slider-favorite > img{
    width: 100%;
    height: 100%;
}
.offers__button-order{
    width: 50px;
    height: 50px;
}
.offers__button-order > img{
    width: 100% !important;
    height: 100%;
}
.offers .slick-track{
    display: flex;
    column-gap: 25px;
}
.wrapper-title{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.section-title{
    font-size: 1.6em;
    margin-right: 1em;
}
.section-info > .section-title{
    font-size: 2.7rem;
}
.wrapper-title > .button-all{
    padding: 6px 10px;
    border: 2px solid rgb(185, 0, 185);
    border-radius: 4px;
    color: rgb(185, 0, 185);
}
.popular__slider-item{
    height: 150px;
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.brend-helf{
    height: 50%;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular__slider-item > img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}
.popular-slider .slick-track{
    display: flex;
    column-gap: 20px;
}
.slider-arrow > img{
    width: 10px;
}
#my-arrow-next, #my-arrow-next1{
    right: -30px;
}
#my-arrow-prev, #my-arrow-prev1{
    left: -30px;
}
.wrapper-slider{
    position: relative;
}
.slider-arrow{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    font-size: 15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    top: 50%;
    color: #464646;
}
main{
    gap: 2.5rem;
    display: flex;
    width: 90%;
    margin: 2rem auto;
}
.main__banner-slider, .main__product-day--slider{
    position: relative;
}
.main__banner-slider--wrapper{
    width: 74%;
    height: 470px;
    display: flex;
    align-items: center;
}
.main__banner-slider{
    width: 100%;
    margin: 0;
}
.main__banner-slider .wrapper-slide{
    width: 100%;
    background-size: 100% 100%;
    background-image: url(./background-slide.png);
    background-repeat: no-repeat;
}
.main__banner-slider .wrapper-slide > div{
    margin-left: 8%;
}
.main__product-day--slider{
    width: 100%;
    height: 100%;
    margin: 0;
}
.main__product-day__header{
    display: flex !important;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.main__banner-slider--wrapper{
    position: relative;
}
.old-price{
    text-decoration: line-through;
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}
.offers__button-order--solid{
    width: 100%;
    padding: 15px 0;
    border: 2px solid #9B38DC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #9B38DC;
    font-size: 14px;
    font-weight: 700;
}
.wrapper-rating{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: .8rem;
}
.wrapper-rating > img{
    height: 12px;
    margin-right: 4px;
}
.wrapper-rating > .rating{
    color: #9B38DC;
    font-weight: 600;
    font-size: 14px;
}
.product-day__card .panel-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-day__card .panel-info > .wrapper-price{
    display: flex;
    align-items: center;
}
.product-day__card > img{
    width: 210px;
    margin: 2rem auto;
}
.main__product-day__header > .header-title{
    font-size: 26px;
}
.main__product-day__header > .product-day__time{
    font-size: 18px;
    font-weight: 700;
    color: #9B38DC;
}
.discount::before{
    position: absolute;
    content: '-39%';
    left: 0;
    top: 0;
    padding: 5px 9px;
    background-color: #F44848;
    border-radius: 4px;
    color: white;
    font-size: .7rem;
}
.wrapper-rating > .comments{
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}
.main-specifications .title > span{
    color: rgb(185, 0, 185);
}
.main-specifications .title{
    font-size: 2.7rem;
    text-align: center;
}
.main-specifications .wrapper-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1.2rem;
    column-gap: 15px;

}
.specification__wrapper-card{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #C4C4C4;
}
.specification__wrapper-card .card-item{
    display: flex;
    align-items: center;
}
.specification__wrapper-card .wrapper-content{
    display: flex;
    justify-content: center;
}
.specification__wrapper-card img{
    height: 50px;
}
.card-item__description{
    font-size: 13px;
    margin-left: 15px;
    color: #565656;
}
.card-item__description > b{
    font-size: 16px;
    color: black;
}
.main-banner__title-text{
    font-size: 3.5rem;
    color: #fff;
}
.main-banner-button{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 25px;
    margin-top: 2rem;
}
.main-banner-description{
    color: #fff;
    margin-top: 1.2rem;
}
.product-day__item > .offers__slider-item > img{
    width: 210px;
    margin: 1.6rem auto;
}
.product-day__item{
    width: 100%;
}
.main__product-day__wrapper{
    height: 470px;
    display: flex;
    flex-direction: column;
    width: 26%;
    position: relative;
}
.main__product-day__wrapper .slider-arrow{
    height: 35px;
    width: 35px;
    border: 1px solid #9B38DC;
    top: calc(50% - 1rem);
}
.main__product-day__wrapper .slider-arrow > img{
    width: 10px;
}
.main__product-day__wrapper #my-arrow-prev2{
    left: 0;
}
.main__banner-slider--wrapper #my-arrow-prev3{
    left: 10px;
}
.main__product-day__wrapper #my-arrow-next2{
    right: 0;
}
.main__banner-slider--wrapper #my-arrow-next3{
    right: 10px;
}
.main__product-day--slider .slick-dots{
    bottom: 0;
}
.main__banner-slider .wrapper-slide{
    height: 470px;
    display: flex;
    align-items: center;
}
.main__banner-slider--wrapper .slider-arrow{
    width: 35px;
    height: 35px;
    top: calc(50% - 1rem);
}
.main__banner-slider--wrapper > .slider-arrow > img{
    width: 10px;
}
.main__banner-slider--wrapper .slick-dots{
    bottom: 10px;
}
.main__banner-slider--wrapper .slick-dots button::before{
    color: purple !important;
    content: ' ';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
    opacity: 1 !important;
    top: 0;
    bottom: 0;
    margin: auto;
}
.main__banner-slider--wrapper .slick-dots button{
    display: flex;
    align-items: center;
}
.main__banner-slider--wrapper .slick-dots > .slick-active button::before{
    color: purple !important;
    content: ' ';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    opacity: 1 !important;
}
.main__banner-slider--wrapper .slick-dots > li,
.main__product-day--slider .slick-dots > li,
.offers-slider .slick-dots > li,
.popular-slider .slick-dots > li{
    width: 10px;
}
.main__product-day--slider .slick-dots button::before,
.offers-slider .slick-dots button::before,
.popular-slider .slick-dots button::before{
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #E5E5E5;
    opacity: 1 !important;
    top: 0;
    bottom: 0;
    margin: auto;
}
.main__product-day--slider .slick-dots button,
.offers-slider .slick-dots button,
.popular-slider .slick-dots button{
    display: flex;
    align-items: center;
    height: 10px;
}
.main__product-day--slider .slick-dots > li,
.offers-slider .slick-dots > li,
.popular-slider .slick-dots > li{
    height: 12px;
}
.main__product-day--slider .slick-dots > .slick-active button::before,
.offers-slider .slick-dots > .slick-active button::before,
.popular-slider .slick-dots > .slick-active button::before{
    content: ' ';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #9B38DC;
    opacity: 1 !important;
}
.popular-slider .slick-dots,
.offers-slider .slick-dots{
    bottom: -30px;
}
@media screen  and (max-width: 900px){
    .main__product-day__wrapper{
        display: none;
    }
    .main__banner-slider--wrapper{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .specification__wrapper-card .wrapper-content{
        display: flex;
        flex-direction: column;
    }
    .offers-list{
        white-space: nowrap;
        width: fit-content;
    }
    .offers-nav,
    .main-specifications .wrapper-cards{
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .offers-nav::-webkit-scrollbar,
    .main-specifications .wrapper-cards::-webkit-scrollbar{
            width: 0;
            height: 0;
    }
    .main-section{
        flex-direction: column;
        align-items: center;
    }
    .section-info{
        width: 90%;
    }
    .section-cards{
        width: 90%;
        margin-left: 0;
        height: 250px;
        margin-top: 2rem;
    }
    .section-cards > .section-card{
        width: 30%;
    }
    .main-specifications .title{
        display: none;
    }
    .specification__wrapper-card{
        flex-direction: column;
    }
    .card-item__description{
        margin-left: 0;
        color: #000;
        margin-top: .8rem;
    }
    .card-item__description > b{
        font-weight: 400;
        font-size: 13px;
    }
    .card-item__description > br{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .specification__wrapper-card .wrapper-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: fit-content;
        white-space: nowrap;
        padding: 0 20px;
    }
    .specification__wrapper-card .wrapper-content > img{
        margin-right: 15px;
    }
    .card-item__description{
        margin: 0;
    }
    .specification__wrapper-card{
        flex-direction: row;
        justify-content: center;
        width: auto;
    }
    .section-info > .section-title{
        font-size: 2.2rem;
    }
    .section-description{
        font-size: 15px;
    }
    .section-list > li{
        font-size: 15px;
    }
    .slider-arrow{
        display: none !important;
    }
    .section-cards > .section-card{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1.2rem 0;
    }
    .section-cards > .section-card:not(:last-child){
        margin-bottom: 1.5rem;
    }
    .section-card > h2{
        margin-top: 0;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 4px;
    }
    .section-card > img{
        margin: 0 1rem 0 1.5rem;
        width: 60px;
        height: 60px;
    }
    .section-cards{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .offers__slider-item > img{
        width: 120px;
    }
    .button-all{
        display: none;
    }
    .main__banner-slider .wrapper-slide > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 2rem 0;
    }
    .main-banner__title-text{
        text-align: center;
        font-size: 2.5rem;
    }
    .main__banner-slider--wrapper .slick-dots{
        bottom: -30px;
    }
    .main__banner-slider .slick-dots button{
        display: flex;
        align-items: center;
        height: 10px;
    }
    .main__banner-slider .slick-dots > li{
        height: 12px;
    }
    .main__banner-slider .slick-dots > .slick-active button::before{
        content: ' ';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #9B38DC;
        opacity: 1 !important;
    }
    .main__banner-slider .slick-dots button::before{
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #E5E5E5;
        opacity: 1 !important;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .main-specifications .wrapper-cards{
        margin-top: 3.5rem;
    }
    .popular-brends{
        margin: 3.5rem auto;
    }
    .main__banner-slider .wrapper-slide{
        background-image: url(./background-slide-mobile.png);
    }
}
@media screen and (max-width: 375px){
    .offers__slider-item > img{
        width: 200px;
        margin: auto;
    }
    .section-title{
        font-size: 1.4rem;
    }
    .section-info > .section-title{
        font-size: 2rem;
    }
}
@media screen and (max-width: 320px){
    .section-info > .section-title{
        font-size: 1.7rem;
    }
    .section-list > li{
        font-size: 14px;
    }
    .section-description{
        font-size: 14px;
    }
    .section-title{
        font-size: 1.3rem;
    }
}